@font-face {
  font-family: "Inter";
  src:
    url("/fonts/inter/Inter.var.woff2") format("woff2-variations"),
    url("/fonts/inter/Inter.var.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
