:root {
  --font-size-h1: 2.5rem;
  --font-size-h2: 2.25rem;
  --font-size-h3: 1.5rem;
  --font-size-h4: 1.25rem;
  --font-size-h5: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-bold;
}

h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}

label span {
  @apply capitalize;
}
