body {
  @apply overflow-hidden;
}
body .inner-container {
  @apply flex-1;
}

main {
  /* We need this to override the default behaviour on this view to prevent scrolling */
  @apply !pb-0;
}

.canvas-overlay {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  object-fit: cover;
}

.scanner-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
