/* Styles for bookings.new */
body,
body > .container {
  @apply overflow-hidden;
}
dialog {
  @apply w-[480px] max-w-full overflow-scroll bg-white md:overflow-auto md:bg-transparent;
}

dialog > div {
  @apply !shadow-none md:!shadow-lg !pb-0;
}

.booking-inner-wrapper {
  @apply pb-4 md:pb-0;
}
