# Most of the connection information can be found within the Supabase dashboard. Navigate to your project > Project Settings > Database. 
# There you will be able to find the values you need to use below
# You can either copy the connection string and insert your password or use the connection parameters to build the string yourself
DATABASE_URL="postgres://{USER}:{PASSWORD}@{HOST}:6543/{DB_NAME}?pgbouncer=true"

# Direct URL is used by prisma to run migrations and pg-boss connection.
# More info here: https://www.prisma.io/docs/orm/prisma-client/setup-and-configuration/databases-connections#external-connection-poolers
# and here: https://www.prisma.io/docs/orm/reference/prisma-schema-reference#fields
DIRECT_URL="postgres://{USER}:{PASSWORD}@{HOST}:5432/{DB_NAME}"

SESSION_SECRET="super-duper-s3cret"
SUPABASE_ANON_PUBLIC="{ANON_PUBLIC}"
SUPABASE_SERVICE_ROLE="{SERVICE_ROLE}"
SUPABASE_URL="https://{YOUR_INSTANCE_NAME}.supabase.co"
SERVER_URL="http://localhost:3000"

# Used for shortening URLs of QR codes. Optional
# If present, the QR code will be generated with a shortened URL
# Should not include the protocol (http/https) or a trailing slash
# URL_SHORTENER="eam.sh"


APP_NAME="Shelf"

# Used for generating cuid with lowered chance of collision. Optional
FINGERPRINT="a-custom-host-fingerprint"


# Set this to false to disable requirement of subscription for premium features. This will make premium features available for all users
ENABLE_PREMIUM_FEATURES="true"

# Set this to true to disable user registration. New users will still be possible to be added via sending invites
DISABLE_SIGNUP="false"

# Set this to true to disable SSO.
DISABLE_SSO="false"

# The Stripe keys are needed only if you want to enable premium features
# If you want to completely deactivate the premium features, you can adjust the ENV variable above or adjust it in the shelf.config.ts file
STRIPE_SECRET_KEY="stripe-secret-key"
STRIPE_PUBLIC_KEY="stripe-public-key"
STRIPE_WEBHOOK_ENDPOINT_SECRET="stripe-endpoint-secret"
FREE_TRIAL_DAYS="14"  

SMTP_PWD="super-safe-passw0rd"
SMTP_HOST="mail.example.com"
SMTP_PORT=465
SMTP_USER="some-email@example.com"
SMTP_FROM="Carlos from shelf.nu" <carlos@shelf.nu>

# Set this to false to disable sending onboarding emails
SEND_ONBOARDING_EMAIL="false"

MAPTILER_TOKEN="maptiler-token"
MICROSOFT_CLARITY_ID="microsoft-clarity-id"

INVITE_TOKEN_SECRET="secret-test-invite"
GEOCODE_API_KEY="geocode-api-key"

# Used for Sentry error logging
SENTRY_ORG="sentry-org"
SENTRY_PROJECT="sentry-project"
SENTRY_DSN="sentry-dsn"
# CHROME_EXECUTABLE_PATH="/usr/bin/chromium"

# Used for sending emails to admins for stuff like Request user delete. Optional. Defaults to support@shelf.nu
ADMIN_EMAIL="support@shelf.nu"

# Email for contact the internal support.
SUPPORT_EMAIL="support@shelf.nu"