{
  "plugins": ["tailwindcss", "no-restricted-imports", "local-rules"],
  "extends": [
    "@remix-run/eslint-config",
    "@remix-run/eslint-config/node",
    "plugin:tailwindcss/recommended",
    "prettier"
  ],
  "ignorePatterns": ["coverage"],
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "settings": {
    // Help eslint-plugin-tailwindcss to parse Tailwind classes outside of className
    "tailwindcss": {
      "callees": ["tw"]
    },
    "jest": {
      "version": 27
    }
  },
  "rules": {
    "tailwindcss/no-custom-classname": "off",
    "no-console": "warn",
    "arrow-body-style": ["warn", "as-needed"],
    // @typescript-eslint
    // Note: you must disable the base rule as it can report incorrect errors
    "no-return-await": "off",
    "@typescript-eslint/return-await": ["error", "in-try-catch"],
    // Note: you must disable the base rule as it can report incorrect errors
    "require-await": "off",
    "@typescript-eslint/require-await": "error",
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/await-thenable": "error",
    "@typescript-eslint/no-duplicate-imports": "error",
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "all",
        "argsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "ignoreRestSiblings": false
      }
    ],
    //import
    "import/no-cycle": "error",
    "import/no-unresolved": "error",
    "import/no-default-export": "off",
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "@remix-run/react",
            "importNames": ["useSearchParams"]
          }
        ]
      }
    ],
    // Custom local rules
    "local-rules/require-satisfies-on-nested-prisma-selects": "error",
    "local-rules/require-deleted-at-check-on-custom-field-queries": "error"
    // "local-rules/require-meta-export-in-routes": "warn"
  },
  "overrides": [
    {
      "files": [
        "./app/root.tsx",
        "./app/entry.client.tsx",
        "./app/entry.server.tsx",
        "./app/routes/**/*.tsx"
      ],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ]
}
