node_modules

/build
/public/build
.env
.env.local
.env.staging
.env.production
.env.staging
.cache
/app/database/migrations/migration_lock.toml

tsconfig.tsbuildinfo

/prisma/data.db
/prisma/data.db-journal


/coverage

# Supabase
**/supabase/.branches
**/supabase/.temp
**/supabase/.env
/sso/metadata-files

# OS
.DS_Store
test-results/

/playwright-report/
/playwright/.cache/
/playwright-report/*
desktop-app/shelf-installer
desktop-app/portable
/test/lab_equipment_2000.csv

.npmrc

.vscode

# Sentry Config File
.sentryclirc

.cert