.fc-toolbar {
  @apply border border-gray-300 p-2 m-0 !important;
  border-bottom: none !important;
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.fc-event-time {
  @apply hidden !important;
}

.fc-event-title {
  @apply ml-1 !important;
}

.fc-next-button {
  @apply ml-0 rounded-tl-none rounded-bl-none border border-gray-400 bg-white text-gray-600 !important;
}

.fc-today-button {
  @apply ml-0 rounded-none border border-gray-400 bg-white text-black pt-[0.5em] border-x-0 !important;
}

.fc-prev-button {
  @apply ml-0 rounded-tr-none rounded-br-none border border-gray-400 bg-white text-gray-600 !important;
}

.completed {
  @apply bg-green-50 border-green-200;
}

.completed .fc-event-title {
  @apply text-green-700;
}

.ongoing {
  @apply bg-purple-50 border-purple-200;
}

.ongoing .fc-event-title {
  @apply text-purple-700;
}

.reserved {
  @apply bg-blue-50 border-blue-200;
}

.reserved .fc-event-title {
  @apply text-blue-700;
}

.draft {
  @apply bg-gray-100 border-gray-600;
}

.draft .fc-event-title {
  @apply text-gray-700;
}

.fc-event:hover {
  @apply bg-blue-700 cursor-pointer;
}

.fc-event:hover .fc-event-title {
  @apply text-white;
}

.fc-day-today {
  @apply bg-primary-50 border-t-[1.5px] border-t-primary-200 border-l-[1.5px] border-l-primary-200 border-r-[1.5px] border-r-primary-200 border-b-[1.5px] border-b-primary-200 text-primary-700 !important;
}
.fc-theme-standard .fc-scrollgrid {
  @apply border border-[#EAECF0] border-t-0;
}

.fc-theme-standard td,
.fc-theme-standard th {
  @apply border border-[#EAECF0];
}