@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-toolbar {
  @apply border border-gray-300 p-2 m-0 !important;
  border-bottom: none !important;
  border-top-left-radius: 0.5rem !important;
  border-top-right-radius: 0.5rem !important;
}

.fc-event-time {
  @apply hidden !important;
}

.fc-event-title {
  @apply ml-1 !important;
}

.fc-next-button {
  @apply ml-0 rounded-tl-none rounded-bl-none border border-gray-400 bg-white text-gray-600 !important;
}

.fc-today-button {
  @apply ml-0 rounded-none border border-gray-400 bg-white text-black pt-[0.5em] border-x-0 !important;
}

.fc-prev-button {
  @apply ml-0 rounded-tr-none rounded-br-none border border-gray-400 bg-white text-gray-600 !important;
}

.completed {
  @apply bg-green-100 border-green-300;
}

.completed .fc-event-title {
  @apply text-green-700;
}

.ongoing {
  @apply bg-purple-100 border-purple-600;
}

.ongoing .fc-event-title {
  @apply text-purple-600;
}

.reserved {
  @apply bg-blue-100 border-blue-600;
}

.reserved .fc-event-title {
  @apply text-blue-600;
}

.draft {
  @apply bg-gray-100 border-gray-600;
}

.draft .fc-event-title {
  @apply text-gray-700;
}

.fc-event:hover {
  @apply bg-blue-600;
}

.fc-event:hover .fc-event-title {
  @apply text-white;
}
