.fc-toolbar {
    border: 1px solid #d5d6da;
    padding: 10px;
    margin: 0 !important;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .fc-event-time {
    display: none;
  }
  .fc-event-title {
    margin-left: 4px;
  }
  .fc-next-button {
    margin-left: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border: 1px solid grey !important;
    background: white !important;
    color: #686767 !important;
  }
  .fc-today-button {
    margin-left: 0 !important;
    border-radius: 0 !important;
    border-radius: 0 !important;
    background-color: none !important;
    padding-top: 0.5em !important;
    border: 1px solid grey !important;
    background: white !important;
    color: black !important;
    border-left: none !important;
    border-right: none !important;
  }
  .fc-prev-button {
    margin-left: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: 1px solid grey !important;
    background: white !important;
    color: #686767 !important;
  }