/** Sidebar */

/* Bottom of the sidebar */
.bottom {
  @apply flex justify-between border-t border-t-slate-400 pt-6;
}

@media (min-width: 768px) {
  .collapsed-navigation .navigation-header .logo-text,
  /* .collapsed-navigation .navigation-header button, */
  .collapsed-navigation .menu li .text,
  .collapsed-navigation .user-credentials,
  .collapsed-navigation .logout-btn {
    opacity: 0;
    pointer-events: none;
  }

  .collapsed-navigation .logout-btn form {
    pointer-events: all;
  }

  .collapsed-navigation .bottom {
    @apply border-none;
  }

  .collapsed-navigation .bottom a {
    @apply hover:bg-transparent;
  }
  .collapsed-navigation .support-banner {
    @apply hidden transition-all duration-300 ease-in-out;
  }
}
