.react-tags {
  cursor: text;
  @apply relative w-full self-start rounded border border-color-200 px-[14px] py-2 text-[16px];
}

.react-tags.is-active {
  @apply border-primary-300;
}

.react-tags.is-disabled {
  opacity: 0.75;
  background-color: #eaeef2;
  /* Prevent any clicking on the component */
  pointer-events: none;
  cursor: not-allowed;
}

.react-tags.is-invalid {
  border-color: #fd5956;
  box-shadow: 0 0 0 2px rgba(253, 86, 83, 0.25);
}

.react-tags__label {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.react-tags__list {
  /* Do not use display: contents, it's too buggy */
  display: inline;
  padding: 0;
}

.react-tags__list-item {
  display: inline;
  list-style: none;
}

.react-tags__tag {
  @apply mr-2 inline-flex items-center gap-1 rounded-2xl bg-color-100 py-[2px] pl-[6px] pr-2 text-[12px] font-medium text-color-700;
}

/* .react-tags__tag:hover {
  color: #ffffff;
  background-color: #4f46e5;
} */

.react-tags__tag::after {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  clip-path: polygon(
    10% 0,
    0 10%,
    40% 50%,
    0 90%,
    10% 100%,
    50% 60%,
    90% 100%,
    100% 90%,
    60% 50%,
    100% 10%,
    90% 0,
    50% 40%
  );
  font-size: 0.875rem;
  @apply ml-1 bg-color-500;
}

.react-tags__tag:hover::after {
  @apply bg-gray-600;
}

.react-tags__combobox {
  @apply inline-block max-w-full;
}

.react-tags__combobox-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  background: none;
  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
  min-width: 74px;
}
.react-tags__combobox-input:focus {
  box-shadow: none;
}

.react-tags__combobox-input::placeholder {
  color: #7c7d86;
  opacity: 1;
}

.react-tags__listbox {
  position: absolute;
  z-index: 1;
  top: calc(100% + 5px);
  /* Negate the border width on the container */
  left: -2px;
  right: -2px;
  max-height: 12.5rem;
  overflow-y: auto;
  background: #ffffff;
  border: 1px solid #afb8c1;
  border-radius: 4px;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -4px,
    rgba(0, 0, 0, 0.05) 0 4px 4px -2px;
}

.react-tags__listbox-option {
  @apply px-6 py-4 focus:bg-color-100 hover:bg-color-100 rounded-lg text-sm font-medium outline-none;
}

.react-tags__listbox-option:hover {
  @apply cursor-pointer bg-color-100;
}

.react-tags__listbox-option:not([aria-disabled="true"]).is-active {
  @apply bg-color-200;
}

.react-tags__listbox-option[aria-disabled="true"] {
  cursor: not-allowed;
  pointer-events: none;
  @apply text-primary;
}

.react-tags__listbox-option[aria-selected="true"]::after {
  content: "✓";
  margin-left: 0.5rem;
}

.react-tags__listbox-option[aria-selected="true"]:not(.is-active)::after {
  @apply text-primary;
}

.react-tags__listbox-option-highlight {
  background-color: #ffff33;
}
